---
const {
  img,
  title,
  description,
  borderColor,
  // icon,
  // iconColor,
} = Astro.props;
const base = import.meta.env.BASE_URL;
---

<div
  style={`background-image: url('${img}')`}
  class={`group relativebg-cover bg-center p-8 rounded-xl shadow-xl hover:shadow-2xl transition-all duration-300 transform hover:-translate-y-2 border-b-[15px] ${borderColor} overflow-hidden`}
>
  <div
    class="absolute inset-0 opacity-20  transition-opacity duration-300 bg-gradient-to-r ${hoverGradientFrom} ${hoverGradientTo}"
  >
  </div>
  <div class="relative z-10 pl-6">
    <h3 class=" font-inter font-bold italic mb-4 text-white text-[30px]">
      {title}
    </h3>
    <p class="text-[20px] text-white">
      {description}
    </p>
    
     <!-- <svg
      class= {`w-20 h-20 mb-4 ${iconColor}`}
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      stroke-width="1"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d={icon}></path>
    </svg> -->
  </div>
</div>

<style>
  .group:hover .absolute {
    mix-blend-mode: overlay;
  }
</style>
