---
const {
  icon,
  iconColor, 
  title,
  borderColor, 
  buildInfo, 
  tags, 
  features, 
  link, 
  linkText, 
  linkColor, 
  textColor} = Astro.props;
---

<div class="group bg-white p-6 rounded-xl shadow-lg hover:shadow-2xl transition-all duration-300 transform hover:-translate-y-1 max-w-2xl w-full">
  <div class={`border-l-4 p-4 border-green`}>
    <h3 class='text-center'>
      <svg
      class= {`w-20 h-20 mx-auto ${iconColor}`}
      fill="none"
      stroke="currentColor"
      viewBox="0 0 26 26"
      stroke-width=".5"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d={icon}></path>
    </svg>
    </h3>
   
    <div class="space-y-4 mb-6 border-t border-secondary_green dark:border-gray-700 pt-4">
      <div class="text-sm text-gray-600 dark:text-gray-300">
        <h4 class={`text-3xl font-semibold mb-4 ${textColor}`}>
          {title}
        </h4>
        <ul class="list-disc pl-6 text-sm space-y-1">
          
        </ul>
      </div>
    </div>
    <!-- <a
      href={link}
      class={`inline-flex items-center ${linkColor} hover:text-${linkColor}/80 font-medium`}
    >
      {linkText}
      <svg
        class="w-4 h-4 ml-2"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
        ></path>
      </svg>
    </a> -->
  </div>
</div>